body,
div,
h1,
h2,
h3,
input,
p {
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #19acbd;
  --color-pink: #e8098a;
  --color-purple: #8268be;
  --color-white: aliceblue;
}

body {
  font-family: "Roboto", sans-serif;
}

#seccionVistaInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoVistaInicio {
  width: 250px;
}

#botonInicioTengoCuenta {
  width: 310px;
  height: 62px;
  background-color: var(--color-blue);
  margin: 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  color: aliceblue;
  font-size: 22px;
  font-weight: bolder;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

#botonInicioRegistro {
  width: 310px;
  height: 62px;
  background-color: var(--color-purple);
  margin: 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  color: aliceblue;
  font-size: 22px;
  font-weight: bolder;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  margin-top: 7px;
}

#botonGoogle {
  width: 77px;
}

h2,
h3 {
  color: aliceblue;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 0;
}

#logoVistaRegistro {
  width: 168px;
}

h1 {
  color: aliceblue;
  font-size: 34px;
  font-family: 'Bakbak One', cursive;
  margin: top 0px;
  margin-bottom: 3px;
}

#seccionVistaRegistro,
#seccionInicioDeSesion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cajasDeRegistro {
  width: 310px;
  height: 50px;
  margin: 10px;
  ;
  border-radius: 15px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 22px;
}

#registroInput {
  width: 310px;
  height: 50px;
  background: #19acbd;
  color: aliceblue;
  margin: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bolder;
}

#botonRegresarRegistro,
#botonRegresarVistaInicioDeSesion {
  background-color: transparent;
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  color: aliceblue;
  font-weight: bolder;
}

#logoVistaInicioDeSesion {
  width: 195px;
}

.cajasInicioDeSesion {
  width: 310px;
  height: 50px;
  margin: 10px;
  ;
  border-radius: 15px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 22px;
  margin-top: 31px;
}

#iniciarSesionInput {
  width: 310px;
  height: 50px;
  background: #e8098a;
  color: aliceblue;
  margin-top: 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bolder;
}

#botonRegresarVistaInicioDeSesion {
  margin-top: 50px;
}



/*Aqui inicia el muro*/
header {
  background: #19acbd;
  width: 428px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#logoVistaMuro {
  width: 160px;
  margin-left: 20px;
}

#botonCerrarSesion {
  background-color: transparent;
  width: 250px;
  height: 38px;
  font-size: 22px;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bolder;
  margin-right: 20px;
}

/* Esto es main */
#areaParaEscribirPublicaciones {
  background: aliceblue;
  width: 428px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#bloqueParaEscribirLaPublicacion {
  background: #ffffff;
  width: 360px;
  height: 100px;
  border: solid 2px #e8098a;
  border-radius: 14px;
  display: flex;
  margin-top: 7px;
  box-sizing: border-box;
}

#inputCajaDeCreacionDePublicaciones {
  font-size: 20px;
  width: 300px;
  height: 55px;
  border: none;
  border-radius: 16px;
  border: 0;
}

#botonDePublicaciones {
  background-color: #e8098a;
  border: none;
  border-radius: 10px;
  width: 48px;
  height: 38px;
  display: flex;
  align-self: flex-end;
  margin-bottom: 7px;
}

#muroDePublicaciones {
  display: flex;
  flex-direction: column;
}

#tituloPublicaciones {
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #fff;
  width: 360px;
  border: solid 2px #e8098a;
  border-radius: 12px;
  margin-top: 7px;
  color: black;
  font-size: 20px;
  padding: 7px;
}

#botonDeMeGustas {
  background-color: #e8098a;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
#botonDeMeGustas:hover {
  background-color: #19acbd;
}

#botonDePublicaciones {
  width: 30px;
}

#botonEditarPublicacionesID {
  position: relative;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 310px;
  margin-top: 10px;
  /* display: flex;
  align-items: flex-start;
  align-self: flex-end; */
}

#botonBasuraPublicacionesID {
  position: relative;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 310px;
  justify-content: space-between;
  /* display: flex;
  align-items: flex-start;
  align-self: flex-end; */

}